@charset "utf-8";

.wrap {
  margin: 0 auto !important;
}

.poster {
  height: 350px;
}

.maincard {
  height: 350px !important;
  margin: 0 auto !important;
  border: 0 solid white !important;
}

.card-title {
  font-weight: bold;
}

.card-text1 {
  font-size: 25px;
  font-weight: bold;
}

.card-body > p {
  font-weight: bold;
}

.card-body2 p {
  font-weight: bold !important;
  line-height: 40px;
  margin-top: 150px !important;
}
